.portfolio {
  &__services-list {
    @extend %list;
    @extend %flex-centered;

    margin-bottom: 50px;
  }
  &__service-item {
    display: flex;
    margin-right: 8px;
  }
  &__service-item:last-child {
    margin-right: 0px;
  }
}
